.modal-dialog div {
  padding: 15px; }

[bb-member-past-bookings], [bb-member-upcoming-bookings] {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 6px 6px; }
  [bb-member-past-bookings] .booking-row, [bb-member-upcoming-bookings] .booking-row {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd; }
    [bb-member-past-bookings] .booking-row:last-child, [bb-member-upcoming-bookings] .booking-row:last-child {
      border-bottom: none; }
  [bb-member-past-bookings] .type div, [bb-member-upcoming-bookings] .type div {
    width: 40px;
    height: 40px;
    border-radius: 20px; }
