[bb-member-past-bookings],
[bb-member-upcoming-bookings] {

  padding-bottom: 10px;

  .booking-row {
    padding-bottom: 10px;
    border-bottom: 1px solid $bb-border;
    margin-bottom: 10px;
    &:last-child {
      border-bottom: none;
    }
  }
  .type {
    div {
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
  }
}
